@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Licorice&Montserrat:wght@100&display=swap');

h1 {
    font-family: 'Licorice', cursive;
    font-size: 60px;
    left: -35px;
    bottom: -25px;
    position: relative;
    color: #DD818E;
}
header{
    background-color: #F5F5F5 ;
}

.sub-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 100;
    color: #4B2921;
    letter-spacing: 4px;
    position: relative;
    top: -30px;
    right: -2px;
}

.space-p {
    padding-top: 15px;
}

.circle {
    border-radius: 50%;
    background-color: #F3ECED;
    height: 125px;
    width: 125px;
    display: inline-block;
}

.navbar-brand {
    margin-left: 20px;
}

body {
    height: 2000px;
}
.sm-circle{
    height: 100px;
    width: 100px;
}
.sm-h1{
    font-size: 40px;
    bottom: -10px;
}
.sm-h4{
    right: -7px;
    font-size: 8px;
}

hr{
    height: 200px;
}

#custom {
    overflow:hidden;
    background-color: #F5F5F5 ;
}
.dropdown-menu{
    background-color: #f5f5f5;
    border: unset;

}
.content{
    padding: 16px;
}

.sticky{
    position: fixed;
    float: right;
    top: 0;
    padding: 10px 8%;
    display: flex;
    align-items: center;
    width: 100%;
    transition: 1s;
}
.sticky + .content {
    padding-top: 70px;
  }

img{
    width: 100%;
}
.top-margin{
    margin-top: 50px;
}
/*______________________________________ <a> inside the image__________________________________________________*/
.role{
    position: relative;
}
.centralize-tag{
    position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
}







































































  @media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position:unset;
  }

}