@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Licorice&Montserrat:wght@100&family=Roboto+Condensed&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Roboto:wght@400;700&display=swap');


a {
    text-decoration: unset;
    color: unset;
}

.logo {
    font-family: 'Licorice', cursive;
    font-size: 60px;
    left: -35px;
    bottom: -25px;
    position: relative;
    color: #DD818E;
}

.logo-brand{
    font-family: 'Licorice', cursive;
    font-size: 40px;
    position: relative;
    color: #DD818E;
}

header{
    background-color: #F5F5F5 ;
}

.sub-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 100;
    color: #4B2921;
    letter-spacing: 4px;
    position: relative;
    top: -30px;
    right: -2px;
    z-index: 5;
}

.space-p {
    padding-top: 15px;
}

.circle {
    border-radius: 50%;
    background-color: #F3ECED;
    height: 125px;
    width: 125px;
    display: inline-block;
    z-index: 5;
    position: sticky;
}

.navbar-brand {
    padding-top: 15px;
}

body {
    height: 2000px;
}
.sm-circle{
    height: 100px;
    width: 100px;
}
.sm-h1{
    font-size: 40px;
    bottom: -10px;
}
.sm-h4{
    right: -7px;
    font-size: 8px;
}

hr{
    height: 200px;
}

#custom {
    overflow:hidden;
    background-color: #F5F5F5 ;
}
.dropdown-menu{
    background-color: #f5f5f5;
    border: unset;

}
.content{
    padding: 16px;
}

.sticky{
    position: fixed;
    float: right;
    top: 0;
    padding: 10px 8%;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
    transition: 1s;
}
.sticky + .content {
    padding-top: 70px;
}
.navbar {
    z-index: 2;
  }

.top-margin{
    margin-top: 100px;
}
.top-padding{
    padding-top: 30px;
}
hr{
    height: 50px;
}
/*______________________________________ <a> inside the image__________________________________________________*/
.top-70{
    top: 70%;
}
.footer-bgd{
    background-color: #F5F5F5;
}

/*______________________________________ blackboard for categories img__________________________________________*/

.blackboard{
    background-color: #000;
    color: #F5F5F5;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

/*______________________________________ Like Heart ___________________________________________________________*/

.btn-like {
    color: #DD818E;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #DD818E;
    background: transparent;
    border: none;
}
__________*/
.media a{
    font-size: 35px;
    padding: 5%;
    color: #3a3a3a;
 }

.details{
    font-size: 13px;
}

.card{
    border: none;
}

.likes-container {
    margin-right: 25px;
 }
 
/*______________________________________ Stylish Buttons _____________________________________________*/

.neu-button {
    background-color: #e0e0e0;
    border-radius: 50px;
    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
    color: #4d4d4d;
    cursor: pointer;
    font-size: 18px;
    padding: 11px 30px;
    transition: all 0.2s ease-in-out;
    border: 2px solid rgb(206, 206, 206);
  }
  
  .neu-button:hover {
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
  }
  
  .neu-button:focus {
    outline: none;
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
  }

 .justify{
    text-align: justify;
 }
 .about-photo{
    border-radius: 50%;
    width: 220px;
    height: 200px;
 }
 .title-one{
    font-family: 'Playfair Display', serif;
    font-weight:400;
 }
 .title-one-d{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
 }







  @media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position:unset;
  }

}