{% extends 'base.html' %}



{% block content %}
<h1>Categories</h1>
{% for category in cat_list_view %}}
    <div class="container text-center">
        <div class="row">
            <div class="col-auto col-md-4 mt-3">
                <a href="{% url 'category' category.title %}">
                    <div class="position-relative">
                        <img class="img-fluid" src="{{ category.image.url }}" alt="">
                        <h3 class="position-absolute top-50 start-50 translate-middle">{{ category.title }}</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endfor%}
{% endblock content %}