{% extends 'base.html'%}


{% block content %}

<section class="container-fluid">
    <div class="row bg-color-contact">
        <div class="col">
            
        {% if name %}
            <div class="text-center mt-5">
                <h2>Your message has been sent successfully!</h2>
                <h4>Thanks for your message {{ name }} :)</h4>
            </div>
        {% else %}
            <h3 class="contact-heading uppercase text-center mt-5">Got A Question In Your Mind?</h3>
            <h5 class="uppercase text-center">Let's us help you!</h5>
            
            <div class="d-flex justify-content-center align-items-center mx-auto">
                <form method="POST">
                    {% csrf_token %} {{ form.as_p}}
                    <button class="btn btn-success">Submit</button>
                </form>
                
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
