{% extends 'base.html'%}


{% block content %}

<section class="container-fluid">
    <div class="row bg-color-contact">
        <div class="col">
            <div class="alert alert-success" id="success-message" style="display: none;" role="alert">
                Your message has been sent successfully!</div>

            <h3 class="contact-heading uppercase text-center">Got a question in your mind?</h3>
            <h5 class="uppercase text-center">Let's us help you!</h5>

            <div class="center-form">
                
            </div>
        </div>
    </div>

{% endblock %}
