{% extends 'base.html' %}
{% block title %}

{% endblock %}

{% block content %}
    <main class="mt-5">
        <article>
            <div class="container-fluid">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-4 align-self-center">
                            <h2>Get Inspired...</h2>
                            <button class="neu-button">Recipes</button>
                        </div>
                        <div class="col-md-8">
                            <img class="card-img-top rounded" width="500" height="650" style="object-fit:cover; object-position: center;"
                                src="https://res.cloudinary.com/dff71pxfw/image/upload/v1682688319/IMG_7304_ff8ea7.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="top-margin">
                <div class="container text-center">
                    <div class="row justify-content-center">
                        <div class="col col-md-4 mt-5">
                            <h2>Categories:</h2>
                        </div>
                    </div>
                </div>
                <div class="container text-center">
                    <div class="row row-cols-2 row-cols-md-4 h-100 ">
                        {% for category in cat_list_view %}
                        <div class="col mt-3 col-md-3">
                            <a href="{% url 'category' category.title %}">
                                <div class="position-relative h-100">
                                    <img class="img-fluid rounded h-100"
                                        src="{{ category.image.url }}" alt="">
                                    <h3 class="position-absolute top-50 start-50 translate-middle blackboard">{{ category.title }}</h3>
                                </div>
                            </a>
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
            

            <div class="top-margin">
                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                            <a href="#">
                                <div class="position-relative">
                                    <img class="img-fluid rounded"
                                        src="https://res.cloudinary.com/dff71pxfw/image/upload/v1682969562/IMG_9142_xylldc.jpg"
                                        alt="">
                                    <h3 class="blackboard position-absolute top-50 start-50 translate-middle">Create your Recipes
                                    </h3>
                                    <button type="button"
                                        class="title-one-d neu-button position-absolute top-70 start-50 translate-middle">Begin</button>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            <section class="top-margin">
                <div class="container text-center mt-5">
                    <div class="row align-self-center">
                        <div class="col">
                            <h3 class="title-one-d" >What can we do for you?</h3>
                            <h5 class="title-one">Send us a message!</h5>
                            <button type="button" class="btn btn-outline-dark mt-3"><a href="{% url 'contact' %}">Contact</a></button>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>

    <ul>
    {% for recipe in object_list %}
        <li><a href="{% url 'first_recipe' recipe.pk %}">{{ recipe.title }}</a> - {{ recipe.author }}<br/>
        {{ recipe.category }}
        {{ recipe.exerpt }}</li>
    {% endfor %}
    </ul>
    
{% endblock %}



    
    