{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">

        {% for recipe in object_list %}
        <div class="col mb-4 content">
            <div class="card h-100">
                <a href="{% url 'the_recipe' recipe.pk %}">
                    <img src="{{ recipe.featured_image.url}}" class="card-img-top rounded" width="500" height="500" style="object-fit:cover; object-position: bottom;
                                        alt=" ...">
                </a>
                <div class="card-body">
                    <p class="card-text">
                        <small class="text-body-secondary justify-content-center">
                            Published: {{ recipe.created_recipe|date:"dS  F Y" }} | 
                            By: {{ recipe.author|truncatechars:15 }} |
                            <!-- Add likes -->
                            <span class="btn-like"><i class="fas fa-heart "></i></span>
                            <span class="text-secondary">{{ recipe.number_likes }} Likes |</span>
                        
                        {% with recipe.comments.count as total_comments %}
                            <i class="far fa-comments"></i>{{ total_comments }}{% endwith %}
                        </small>
                    </p>
                    <h5 class="card-title text-center">
                        <a class="title-one-d" href="{% url 'the_recipe' recipe.pk %}">{{ recipe.title }}</a>
                    </h5>
                    <p class="card-text">{{ recipe.exerpt }}</p>
                </div>
                <!-- Details about the recipe -->
                <div class="card-body text-body-secondary d-flex d-flex justify-content-evenly details">
                    <p class=""><i class="fa-solid fa-wheat-awn-circle-exclamation fa-rotate-180"></i>{{ recipe.category}}</p>
                    <p class=""><i class="fa-solid fa-gears"></i> {{ recipe.dificulty }}</p>
                    <p class=""><i class="fa-solid fa-hourglass-half"></i> {{recipe.total_time}}min</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" 
            class="fa-solid fa-angles-left"> Prev &laquo;</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" 
            class="fa-solid fa-angles-right"> More&raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock content %}