{% extends 'base.html' %}


{% block content %}

<div class="container-fluid text-center">
    <div class="row mt-3">
        <div class="col-md-6">
            <img src="{{ recipe.featured_image.url}}" class="card-img-top img-fluid d-md-none"
                style="object-fit:cover; object-position: bottom;" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 align-self-center mt-3">
            <a>{{ recipe.category }}</a>
            <h1>{{recipe.title}}</h1>
            
            <p class="card-text">
                <small class="text-body-secondary">Published: {{ recipe.created_recipe|date:"dS  F Y" }} | By: {{ recipe.author.first_name }} {{ recipe.author.last_name }} </small>
            </p>
            <p class="card-text">
                <small class="text-body-secondary"></small>
            </p>
        </div>
        <div class="col-md-6">
            <img src="{{ recipe.featured_image.url}}" class="card-img-top img-fluid d-none d-md-block"
                style="object-fit:cover; object-position: bottom;" alt="...">
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <div>{{ recipe.content|safe }}</div>
        </div>
    </div>
</div>

<strong>
    {% if user.is_authenticated %}
    <form class="d-inline" action="{% url 'recipe_like' recipe.pk %}" method="POST">
         {% csrf_token %}
         {% if liked %}
         <button type="submit" name="recipe_id" value="{{ recipe.id }}" class="btn-like"><i class="fas fa-heart"></i></button>
         {% else %}
         <button type="submit" name="recipe_id" value="{{ recipe.id }}" class="btn-like"><i class="far fa-heart"></i></button>
         {% endif %}
    </form>
    {% else %}
    <span class="text-secondary"><a href="{% url 'account_login' %}"><i class="far fa-heart"></i></a></span>
    {% endif %}
    <span class="text-secondary">{{ number_likes }} Likes</span>
</strong>





<div>
</div>
<p>{{ recipe.author }}</p>
<p><a href="{% url 'category' recipe.category %}"></a></p>
<p>{{ recipe.dificulty }}</p>
<p>{{ recipe.total_time }}</p>
<p>{{ recipe.status }}</p>
<p>{{ recipe.exerpt }}</p>
{% if user.is_authenticated %}
    {% if user.id == recipe.author.id %}
        <button class="btn btn-success"><a href="{% url 'edit_recipe' recipe.pk %}">Edit</a></button>
        <button class="btn btn-danger"><a href="{% url 'delete_recipe' recipe.pk %}">Delete</a></button>
    {% endif %}
{% endif %}
<p>{{ recipe.likes }}</p>

{% endblock content %}