{% extends 'base.html' %}


{% block content %}

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-6 align-self-center">
                <a>{{ recipe.category }}</a>
                <h1>{{recipe.title}}</h1>
                <p class="card-text">
                    <small class="text-body-secondary">{{ recipe.created_recipe }} By {{ recipe.author }} </small>
                </p>
                <p class="card-text">
                    <small class="text-body-secondary"></small>
                </p>
            </div>
            <div class="col-6">
                <img src="{{ recipe.featured_image.url}}" class="card-img-top img-fluid" width="800" height="600" style="object-fit:cover; object-position: bottom;"
                    alt="...">
            </div>
        </div>
    </div>






<div>{{ recipe.content|safe }}
</div>
<p>{{ recipe.author }}</p>
<p><a href="{% url 'category' recipe.category %}"></a></p>
<p>{{ recipe.dificulty }}</p>
<p>{{ recipe.total_time }}</p>
<p>{{ recipe.status }}</p>
<p>{{ recipe.exerpt }}</p>
{% if user.is_authenticated %}
<button class="btn btn-success"><a href="{% url 'edit_recipe' recipe.pk %}">Edit</a></button>
<button class="btn btn-danger"><a href="{% url 'delete_recipe' recipe.pk %}">Delete</a></button>
{% endif %}
<p>{{ recipe.likes }}</p>

{% endblock content %}