{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}


<div class="container-fluid text-center">
    <div class="row mt-3">
        <div class="col-md-6">
            <img src="{{ recipe.featured_image.url}}" class="card-img-top img-fluid d-md-none rounded"
                style="object-fit:cover; object-position: bottom;" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 align-self-center mt-3">
            <a>{{ recipe.category }}</a>
            <h1 class="title-one-d">{{recipe.title}}</h1>
            
            <p class="card-text">
                <small class="text-body-secondary">Published: {{ recipe.created_recipe|date:"dS  F Y" }} | By: {{ recipe.author.first_name }} {{ recipe.author.last_name }} </small>
            </p>
            <div class="d-flex justify-content-center mt-5">
                <div class="row gx-5">
                    <!-- Display likes -->
                    <strong class="likes-container">
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'recipe_like' recipe.pk %}" method="POST">
                             {% csrf_token %}
                             {% if liked %}
                             <button type="submit" name="recipe_id" value="{{ recipe.id }}" class="btn-like"><i class="fas fa-heart"></i></button>
                             {% else %}
                             <button type="submit" name="recipe_id" value="{{ recipe.id }}" class="btn-like"><i class="far fa-heart"></i></button>
                             {% endif %}
                        </form>
                        {% else %}
                        <span class="text-secondary"><a href="{% url 'account_login' %}"><i class="far fa-heart"></i></a></span>
                        {% endif %}
                        <span class="text-secondary">{{ number_likes }} Likes</span>
                    </strong>
                    
                </div>
                <div>
                    <!-- Display comments -->
                    {% with recipe.comments.count as total_comments %}
                        <strong class="text-secondary pl-3">
                            <span><i class="far fa-comments"></i><a href="#comment">{{ total_comments }} Comments</a></span>
                        </strong>
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{{ recipe.featured_image.url}}" class="card-img-top img-fluid d-none d-md-block rounded"
                style="object-fit:cover; object-position: bottom;" alt="...">
        </div>
    </div>
</div>
<hr>
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            <h3 class="title-one mt-3">{{recipe.title}}</h3>
            <p class="mt-3">{{ recipe.content|safe }}</p>
            <hr>
            <h4 class="title-one mt-3">Ingredients:</h4>
            <p class="mt-3">{{ recipe.ingredients|safe }}</p>
            <hr>
            <h4 class="title-one mt-3">Instructions:</h4>
            <p class="mt-3">{{ recipe.instructions|safe }}</p>

        </div>
    </div>
</div>



<div class="container text-start mt-5">
    <div class="row">
        <div class="col col-md-6">
            
            {% with recipe.comments.count as total_comments %}
                        <strong class="text-secondary">
                            <h3 class="title-one" id="comment"><i class="far fa-comments"></i><a href="#comment">{{ total_comments }} Comments:</a></h3>
                            <hr>
                        </strong>
            {% endwith %}
            
            {% if user.is_authenticated %}
            {% for comment in recipe.comments.all %}
                <div class="mt-1">
                    <strong>{{ comment.name }}</strong> <small>{{ comment.created_on|date:"dS  F Y" }}</small>
                    <p>{{ comment.body|linebreaks }}</p>
                    <hr>
                </div>
            {% endfor %}
            {% if not recipe.comments.all %}
                <h5 class="title-one">This recipe has no comments, add the first one</h5>
                <form method="POST">
                    {% csrf_token %} {{ comment_form.as_p }}
                    <button class="btn btn-success">Submit</button>
                </form>
            {% else %}
                <h4 class="title-one mt-5">Add a comment:</h4>
                <form class="mt-3" method="POST">
                    {% csrf_token %} {{ comment_form.as_p }}
                    <button class="btn btn-success">Submit</button>
                </form>
            {% endif %}
            {% endif%}
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
            {% if user.is_authenticated %}
                <!-- if the user created the recipe he can edit and delete it -->
                {% if user.id == recipe.author.id %}
                    <button class="btn btn-success"><a href="{% url 'edit_recipe' recipe.pk %}">Edit</a></button>
                    <button class="btn btn-danger"><a href="{% url 'delete_recipe' recipe.pk %}">Delete</a></button>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<script>
    // Alert message after the user comments a recipe
    setTimeout(function() {
        let messages = document.getElementById("commentou");
        let alert = new bootstrap.Alert(messages);
        alert.close();
    }, 5000);
</script>



{% endblock content %}